.server-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 10rem);
}

.channel-list-container {
    width: 20rem;
    background-color: color-mix(
        in srgb,
        var(--primary-color) 50%,
        var(--quinary-color) 50%
    );
}

.channel-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-bottom: 1rem; */
}

.channel-list li {
    padding: 0.5rem 1rem;
}

.channel-list li * {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.channel-list-servername {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.channel-list-groupname {
    font-size: 0.8rem;
    cursor: default;
    margin: 3rem 0 0.5rem 0;
    /* flex */
    display: flex;
    flex-direction: row;
}

.channel-list-groupname:not(:hover) {
    filter: brightness(0.6);
}

.channel-list-item {
    font-size: 0.8rem;
    margin: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.channel-list-item:hover {
    background-color: var(--quinary-color);
}

.channel-list-item:not(:hover) {
    filter: brightness(0.6);
}

.channel-list li .channel-list-down {
    margin-left: 1rem;
}
.channel-list li .channel-list-right {
    margin-left: 1rem;
}
.channel-list li .channel-list-down h2 {
    transform: rotate(90deg);
}