.login-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--quinary-color);
    /* align-items: center; */
    /* align-content: center; */
}

.login-container h2 {
    margin-top: 6rem;
    text-align: center;
}

.login-container form {
    margin: auto;
    align-items: center;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
}

.login-container input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 70%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container p {
    text-align: center;
}

.toggle_login {
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.toggle_login button {
    padding: 0.5rem;
    box-shadow: none;
    color: var(--secondary-color);
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}

.toggle_login button:hover {
    color: color-mix(in srgb, var(--secondary-color) 80%, transparent);
    background-color: transparent;
    text-decoration: underline;
}